<section id="playlists-container">
  <header>
    <h2>Your Public Playlists</h2>
  </header>
  <container id="playlists">
    <% for (playlist of playlists) { %>
      <a href="<% if (currentPlaylist) { %>.<% } %>./<%= playlist.id %>/index.html" class="playlist">
        <object data="<%= playlist.images[2].url %>" alt="" loading="lazy" type="image/jpg"></object>
        <p><%= playlist.name %></p>
      </a>
    <% } %>
  </container>
</section>
