<section id="playlists-container">
  <header>
    <h2>Your Public Playlists</h2>
  </header>
  <container id="playlists">
    <% for (playlist of playlists) { %>
      <a href="/<%= playlist.id %>" class="playlist">
        <img src="<%= playlist.images[0].url %>" alt="Playlist cover image">
        <p><%= playlist.name %></p>
      </a>
    <% } %>
  </container>
</section>
