<container id="user"></container>
<section id="playlists-container">
  <header>
    <h2>Your Playlists</h2>
    <input type="checkbox" id="playlist-owner" name="playlist-owner" onchange="filterPlaylists()">
    <label for="playlist-owner" >Only display playlists you own</label>
  </header>
  <container id="playlists"></container>
</section>
