<section id="playlist-display">
  <container id="playlist-info">
    <img src="" alt="Playlist Cover Image">
    <div>
      <h1>Playlist Title</h1>
      <a href="" target="_blank">Link to playlist</a>
    </div>
  </container>
  <container id="playlist-tracks" class="track-list">
    <header>
      <div>#</div>
      <div>Title & Artist</div>
    </header>
    <div id="playlist-table">
      <div></div>
      <div class="track-info">
        <img src="" alt="">
        <div></div>
      </div>
    </div>
  </container>
</section>
