<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
      <%- include('partials/playlists') %>
    </header>
    <main>
      <%- include('partials/playlist.ejs') %>
    </main>
  </body>
</html>
